<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smartfactoryml-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ProjectGuid>9f7c0fc5-8b54-4b09-a4e5-7b2a3f8b9c1d</ProjectGuid>
    <PublishUrl>smartfactoryml-api.scm.azurewebsites.net:443</PublishUrl>
    <UserName />
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
</Project>